<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Managment</title>
    <style>
        body {
          background: #00008B;
          text-align: center;
          padding-top: 350px;
        }
        #btn{
            font-size: 75px;
            background-color: inherit
        }

        #a{
            color: yellow;
        }


    </style>
</head>
<body>
<button id="btn"><a id='a' href="/exportStudents" target="_blank">Download</a></button>
</body>
</html>